html {
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url("img/dark-triangles.png");
  font-family: 'Montserrat', sans-serif; }

header {
  padding: 0 25px 0 25px;
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 39px;
  grid-template-areas: 'h1 site-nav' 'pads-btn pads-btn'; }
  header h1 {
    grid-area: h1;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    font-size: 20px; }
  header .pads-button {
    grid-area: pads-btn;
    justify-self: center;
    background: none;
    border: 2px solid #fff;
    padding: 10px 10px;
    color: #fff;
    transition: all ease-in-out 0.3s;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px; }
  header .site-nav {
    grid-area: site-nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    header .site-nav .hamburger {
      cursor: pointer;
      align-self: flex-end;
      grid-area: hamburger; }
      header .site-nav .hamburger .bar1,
      header .site-nav .hamburger .bar2,
      header .site-nav .hamburger .bar3 {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s; }
      header .site-nav .hamburger .bar1 {
        margin-top: 0; }
      header .site-nav .hamburger .bar3 {
        margin-bottom: 0; }
    header .site-nav .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-7px, 6px);
      transform: rotate(-45deg) translate(-7px, 6px); }
    header .site-nav .change .bar2 {
      opacity: 0; }
    header .site-nav .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -6px);
      transform: rotate(45deg) translate(-6px, -6px); }
    header .site-nav .nav-ul {
      list-style-type: none; }
      header .site-nav .nav-ul .nav-li {
        color: #fff;
        background: red; }

.headerFlexInline {
  flex-direction: initial; }

.pads-ul {
  grid-area: pads-ul;
  justify-self: center;
  background: #fff;
  text-align: center;
  width: 200px;
  display: none;
  transition: all ease-in-out 0.2s; }
  .pads-ul li {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500; }
    .pads-ul li:nth-of-type(2n) {
      background: #f1f1f1; }

.listDisplay {
  display: block; }

.container {
  height: 100vh;
  padding: 25px 0 0 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 100%;
  grid-template-areas: 'header' 'pads-ul' 'drumPadsContainer'; }
  .container .grid-for-2-pads {
    grid-template-columns: 110px 110px;
    grid-template-rows: 110px; }
  .container .grid-for-4-pads {
    grid-template-columns: 110px 110px;
    grid-template-rows: repeat(2, 110px); }
  .container .grid-for-6-pads {
    grid-template-columns: 110px 110px;
    grid-template-rows: repeat(3, 110px); }
  .container .grid-for-8-pads {
    grid-template-columns: 110px 110px;
    grid-template-rows: repeat(4, 110px); }
  .container .grid-for-9-pads {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(3, 100px); }
    .container .grid-for-9-pads .drum-pad {
      width: 100px !important;
      height: 100px !important; }
  .container .grid-for-12-pads {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(4, 100px); }
    .container .grid-for-12-pads .drum-pad {
      width: 100px !important;
      height: 100px !important; }
  .container .drum-pads-container {
    grid-area: drumPadsContainer;
    display: grid;
    justify-content: center;
    grid-gap: 15px;
    padding: 50px 0 0 0; }
    .container .drum-pads-container .drum-pad {
      background: white;
      width: 110px;
      height: 110px;
      -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.46);
      -moz-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.46);
      box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.46);
      transition: all ease-in-out 0.10s; }
    .container .drum-pads-container .playing {
      background: #FFD300; }

/*# sourceMappingURL=style.css.map */
