html {
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/dark-triangles.png');
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 0 50px;
    margin: 50px 0 25px 0;
    font-size: 36px;
}
.padsButton {
    margin: 0 0 0 50px;
    background: none;
    border: 2px solid #fff;
    padding: 10px 10px;
    color: white;
    transition: all ease-in-out 0.3s;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;

}
.padsUl {
    background: #fff;
    text-align: center;
    width: 182px;
    margin: 0 0 0 50px;
    display: none;
    li {
        padding: 10px 0;
        font-size: 16px;
        font-weight: 500;
        &:nth-of-type(2n){
            background: #f1f1f1;
        }
    }
}
.listDisplay {
    display: block;
}

main {
    .drum-pads-container {
        display: grid;
        justify-content: center;
        // grid-template-columns: 110px 110px ;
        // grid-template-rows: 110px 110px 110px 110px;
        grid-gap: 15px;
        margin: 0 0 50px 0;
        .drum-pad {
            background: white;
            width: 100px;
            height: 100px;
            -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0,0,0,0.46);
            -moz-box-shadow: inset 0px 0px 14px 0px rgba(0,0,0,0.46);
            box-shadow: inset 0px 0px 14px 0px rgba(0,0,0,0.46);            
            transition: all ease-in-out 0.10s;
        }
        .playing {
            background: #FFD300;
        }
    }
}